.logo {
  border: solid 1px;
  height: auto;
  width: 120px;
  text-align: center;
  font-family: 'Open Sans', Arial, sans-serif;
}

.navbar {
  background: white;
}

#conteinerMenu{
  border: solid 1px;
  padding: 20px 20px 20px 20px;
  margin: auto;
  max-width: auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 120px;
  justify-content: center;
}

#conteinerArtigo{
  border: solid 1px;
  padding: 20px 20px 20px 20px;
  margin: auto;
  max-width: auto;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-gap: 120px;
  justify-content: center;
}

#containerArtigo1{
  border: solid 1px;
  padding: 20px 20px 20px 20px;
  max-width: 70%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 20px;
  justify-content: center;
}